@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome, @ViewBag.CurrentUser?.Username</h2>

    @if (ViewBag.CurrentUser != null)
    {
        <form method="post" asp-action="Logout">
            <button type="submit">Logout</button>
        </form>
    }
</div>
